.header {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  height: 5rem;
  background-color: blue;
}
a {
  color: white;
}
